body{margin: 0}
html{
    background: url("../pics/background.jpg") no-repeat right bottom;
    font-family: Helvetica, sans-serif !important;
    position: relative;
    min-height: 100%;
    width: 100%;
}
header{
    background: #e74c3c url("../pics/Sports_icon_bar.png") no-repeat right center;
    color:white;
    text-align:center;
    padding: 2px;
    width: 100%;
}
nav{
    position: fixed;
    color: black;
    float: left;
    padding-top: 20px;
}
a {
    color: black;
    text-decoration: none;
}
section{
    color: black;
    height: 100%;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
}
img{
    padding: 5px;
    height: 40%;
}
::-webkit-scrollbar{
    display: none;
}
table {
    overflow-x: scroll;
    border-collapse: collapse;
    background-color: #ecf0f1;
    width: 79%;
    margin-left: 20%;
    margin-right: 0.5%;
}
table ,td{
    border: 1px solid black;
}
.tabletext{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18pt;
}
footer{
    clear: both;
    background-color: #c0392b;
    color: white;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    bottom: 0;
    width: 100%;
    position: absolute;
}
label { /* Beschriftung auf eigener Zeile */
    display: block;
    cursor: pointer; /* Mauszeiger wird zur Hand */
}
form {
    background-color: #eee;
    width: 260px; /* Breite des Formulars */
    padding: 20px;
    border: 1px solid #8c8c8c;
    margin-left: auto;
    margin-right: auto;
}
.button-secondary {
    background: #ecf0f1 /* this is a light blue */
}
.bigger-button{
    width: 120px;
    height: 60px;
}