html{
    background-color: chartreuse;
}
table {
    border-collapse: collapse;
    background-color: blue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
table ,td{
    border: 3px solid black;
}
.tabletext{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18pt;
}
article{
    background-color: chartreuse;
    color: black;
    text-align: center;
}
iframe{
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding-bottom: 5px;
}
header{
    background-color:black;
    color:white;
    text-align:center;
    padding:25px;
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.bigger-button{
    width: 90px;
    height: 40px;
}
img{
    padding: 5px;
    height: 40%;
}