body{
    margin: 0px
}
html{
    background: url("../pics/background.jpg") no-repeat right bottom;
    font-family: Helvetica, sans-serif !important;
    position: relative;
    min-height: 100%;
    width: 100%;
}
table::-webkit-scrollbar{
    display: none;
}
table {
    border-collapse: collapse;
    background-color: #ecf0f1;
    width: 90%;
    margin-left: 4.9%;
    margin-right: 4.9%;
}
table ,td{
    border: 1px solid black;
}
.tabletext{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18pt;
}
article{
    color: black;
    text-align: center;
    padding-bottom: 15px;
}
iframe{
    width: 100%;
}
footer{
    clear: both;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

header, footer, header a {
    background-color: #edffcf;
    color:black;
    text-shadow: white 0 0 5px;
}
header{
    background-image: url("../pics/Sports_icon_bar.png");
    background-position: right;
    background-repeat: repeat-x;
    text-align:left;
    padding: 2px 10px;
    width: 100%;
}
.button-secondary {
    background: #ecf0f1 /* this is a light blue */
}
.bigger-button{
    width: 15%;
    height: 40px;
}
img{
    padding: 5px;
    height: 40%;
}
a {
    color: black;
    text-decoration: none;
}