body{
    margin: 0px
}
html{
    min-width: 630px;
    background: #a9a9a9;
    font-family: Helvetica, sans-serif !important;
    position: relative;
    min-height: 100%;
}
table::-webkit-scrollbar{
    display: none;
}
table {
    border-collapse: collapse;
    background-color: #ecf0f1;
    width: 90%;
    margin-left: 4.9%;
    margin-right: 4.9%;
}
table ,td{
    border: 1px solid black;
}
.tabletext{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18pt;
}
article{
    color: black;
    text-align: center;
    padding-bottom: 15px;
}
iframe{
    width: 100%;
}
footer{
    background-color: #2980b9;
    color: white;
    clear: both;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    width: 100%;
}
header{;
    background: #3498db url("../pics/Sports_icon_bar.png") no-repeat right center;
    color:white;
    text-align:center;
    padding: 2px 10px;
}
.button-secondary {
    background: #ecf0f1 /* this is a light blue */
}
.bigger-button{
    width: 15%;
    height: 40px;
}
img{
    padding: 5px;
    height: 40%;
}
a {
    color: black;
    text-decoration: none;
}