html{
    background-color: aquamarine;
}
header{
    background-color:black;
    color:white;
    text-align:center;
    padding:25px;
}
nav{
    position: fixed;
    background-color: white;
    color: black;
    float: left;
}
section{
    background-color: darkgray;
    text-align: center;
    color: black;
    float: right;
    width: 900px;
    height: 600px;
}
footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding-bottom: 5px;
}
table ,td{
    border: 2px solid black;
}
table {
    width: 100%;
}