#header{
    background-color:black;
    color:white;
    text-align:center;
    padding:25px;
}
#left{
    background-color: white;
    color: black;
    float: left;
    width: auto;
}
#right{
    background-color: darkgray;
    text-align: center;
    color: black;
    float: right;
    width: 900px;
    height: 600px;
}
#footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding-bottom: 5px;
}